<ion-header>

    <ion-navbar>
      <ion-title>homet</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    
  
  <button ion-button class="text-center" color="secondary" (click)="loginwithfb()" *ngIf="!facebook.loggedIn">Login With Facebook</button>
  <button ion-button (click)="logoutwithfb()">Logout With Facebook</button>
  
  <ion-card *ngIf="facebook.loggedIn">
      
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ facebook.profilePicture }}">
          </ion-avatar>
          <h2>{{ facebook.name }}</h2>
          <p>{{ facebook.email }}</p>
        </ion-item>
      
        <ion-card-content>
          <p>Wait a minute. Wait a minute, 
            Doc. Uhhh... Are you telling me
             that you built a time machine...
              out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
  </ion-card>
  
  </ion-content>